server:
  port: 2333
  address: 0.0.0.0
lavalink:
  plugins:
    - dependency: "com.github.topi314.lavasrc:lavasrc-plugin:4.2.0"
      snapshot: false
  server:
    password: youshallnotpass
    sources:
      youtube: true
      bandcamp: true
      soundcloud: true
      twitch: true
      vimeo: true
      http: true
      local: false
    bufferDurationMs: 400
    frameBufferDurationMs: 5000
    youtubePlaylistLoadLimit: 6
    playerUpdateInterval: 5
    youtubeSearchEnabled: true
    soundcloudSearchEnabled: true
    gc-warnings: true

plugins:
  lavasrc:
    providers:
      - "spsearch:%ISRC%"
      - "ytsearch:\"%ISRC%\""
    sources:
      spotify: true
      applemusic: false
      deezer: false
      yandexmusic: false
    spotify:
      clientId: "YOUR_SPOTIFY_CLIENT_ID_HERE"
      clientSecret: "YOUR_SPOTIFY_CLIENT_SECRET_HERE"
      countryCode: "IN"  # India - change to your country code

logging:
  level:
    root: INFO
    lavalink: INFO
